* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}

#canvas1 {
  border: 0px solid white;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 800px;
  height: 450px;
  transform: translate(-50%, -50%);
}
